


<!--https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20170415/f90b286338134f77b535a242ebd81feb.pdf-->

<button type="button" class="btn" style="position: absolute;
        background: #a94442;
        color: #fff;
        width: 200px;
        top: 50%;
        left: 50%" type="button" type="button" onclick="printJS('/images/label.pdf')">
  Print PDF
</button>

<!--<input class="print-pdf" type="button" value="Print">-->


<!--<iframe id="iFramePdf" name="iFramePdf"-->
        <!--src="https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20170415/f90b286338134f77b535a242ebd81feb.pdf">-->

<!--</iframe>-->

<!--<input type="button" id="printerButton" name="print" value="Print It" />-->

<!--<p><a onClick="window.print();return false"-->
      <!--style="position: absolute;-->
        <!--background: #a94442;-->
        <!--color: #fff;-->
        <!--width: 200px;-->
        <!--top: 50%;-->
        <!--left: 50%" type="button"-->
      <!--class="btn btn-default btnPrint"-->
      <!--href='https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20170415/f90b286338134f77b535a242ebd81feb.pdf'>Print!</a></p>-->


<!--<a href="/path/to/file.pdf" onClick="window.print();return false">Click here to download the printable version</a>-->
