<!--<div id="homepage">-->
  <!---->
<!--</div>-->

<div id="homepage">
  <%- partial ('common/header.ejs') %>
  <div id="content">
    <div class="jumbotron">
      <div class="feature-content">
        <h3>Fast, On-Time Shipping and Delivery</h3>
        <p>We offer high quality custom printing for your design on quality products. On demand professional printing.</p>
        <a class="btn btn-primary navbar-btn get-started">Get Started</a>
      </div>
    </div>

    <div class="sr-only container" id="shipping-services">
      <div class="row row-eq-height">
        <div class="col-md-3 hidden-sm">
          <h6 class="title">FREE SHIPPING</h6>
          <h4 class="more-title">2-Week Delivery</h4>
          <p>Guaranteed by Mon, Apr 24</p>
          <p><a href="#">View Delivery Calendar</a></p>
        </div>

        <div class="col-md-3 hidden-sm">
          <h6 class="title">EASY ECOMMERCE</h6>
          <h4 class="more-title">3-Day Super Rush</h4>
          <p>Nullam faucibus ultricies dolor, non bibendum magna ultrices ac. Mauris sit amet quam justo</p>
        </div>

        <div class="col-md-3 hidden-sm">
          <h6 class="title">SAME DAY SHIPPING</h6>
          <h4 class="more-title">1-Day Delivery</h4>
          <p>Guaranteed by Mon, Apr 24</p>
          <p><a href="#">View Delivery Calendar</a></p>
        </div>

        <div class="col-md-3 hidden-sm">
          <h6 class="title">BEST CUSTOMER SERVICE</h6>
          <h4 class="more-title">3-Day Super Rush</h4>
          <p>Nullam faucibus ultricies dolor, non bibendum magna ultrices ac. Mauris sit amet quam justo</p>
        </div>
      </div>
    </div>
    <div class="container text-center" id="product-pricing">
      <!--<a data-toggle="tab" href="#section-products" type="button" class="btn view-products-button active">PRODUCTS</a>-->
      <!--<a data-toggle="tab" href="#section-pricing" type="button" class="btn view-pricing-button">PRICING</a>-->

      <div class="tab-content">
        <div id="section-products" class="tab-pane fade">
          <h3>We print on these products</h3>
          <p>Here you'll find details about all the products we print on.</p>
          <div class="row text-left">
            <div class="col-md-3 col-sm-6">
            <a href="#"><img class="img-thumbnail" src="/images/p1.jpg"></a>
              <h4>Shirts</h4>
              <p>T-shirts, tanks, sweaters and more for men, women, kids, babies and dogs.</p>
            </div>
            <div class="col-md-3 col-sm-6">
              <a href="#"><img class="img-thumbnail" src="/images/p2.jpg"></a>
              <h4>Mugs</h4>
              <p>Embroidered hats, from baseball caps to beanies, add a polished vibe to any look.</p>
            </div>
            <div class="col-md-3 col-sm-6">
              <a href="#"><img class="img-thumbnail" src="/images/p3.jpg"></a>
              <h4>Totes</h4>
              <p>Bags for your books, groceries and all your little everyday items.</p>
            </div>
            <div class="col-md-3 col-sm-6">
              <a href="#"><img class="img-thumbnail" src="/images/p4.jpg"></a>
              <h4>Pillow</h4>
              <p>Cushions for decorative and practical use, made, cut and sewn here in California.</p>
            </div>
          </div>
        </div>

        <div id="section-pricing" class="tab-pane fade in active">
          <h3>SIMPLE PRICING FOR OUT CORE PRODUCTS</h3>
          <p>Our scale and operational efficiency translates to savings to you.</p>

          <div style="margin-bottom:30px" class="row row-eq-height text-left">
            <div class="col-sm-3">
              <a href="#"><img class="img-thumbnail" src="/images/z1.jpg"></a>
              <h5>Fruit of the Loom T-Shirt</h5>
              <p>Any color count, any shirt color</p>
              <h3 class="mockup-pricing">$6.00</h3>
            </div>
            <div class="col-sm-3">
              <a href="#"><img class="img-thumbnail" src="/images/z2.jpg"></a>
              <h5>Fruit of the Loom Ladies v-neck</h5>
              <p>Any color count, any shirt color</p>
              <h3 class="mockup-pricing">$7.25</h3>
            </div>
            <div class="col-sm-3">
              <a href="#"><img class="img-thumbnail" src="/images/z3.jpg"></a>
              <h5>American Apparel</h5>
              <p>Any color count, any shirt color</p>
              <h3 class="mockup-pricing">$10.00</h3>
            </div>
            <div class="col-sm-3">
              <a href="#"><img class="img-thumbnail" src="/images/z4.jpg"></a>
              <h5>Bella Flowy Racerback Tank</h5>
              <p>Any color count, any shirt color</p>
              <h3 class="mockup-pricing">$10.75</h3>
            </div>
          </div>
          <div class="row row-eq-height text-left">
            <div class="col-sm-3">
              <a href="#"><img class="img-thumbnail" src="/images/z5.jpg"></a>
              <h5>Glidan Hoodie</h5>
              <p>Any color count, any shirt color</p>
              <h3 class="mockup-pricing">$13.50</h3>
            </div>
            <div class="col-sm-3">
              <a href="#"><img class="img-thumbnail" src="/images/z6.jpg"></a>
              <h5>Phone Case</h5>
              <p>All sizes, full color</p>
              <h3 class="mockup-pricing">$5.00</h3>
            </div>
            <div class="col-sm-3">
              <a href="#"><img class="img-thumbnail" src="/images/z7.jpg"></a>
              <h5>Mug</h5>
              <p style="margin-bottom:0">11oz <span class="pull-right more-pricing">$3.50</span></p>
              <p>15oz <span class="pull-right more-pricing">$4.50</span></p>

            </div>
            <div class="col-sm-3">
              <a href="#"><img class="img-thumbnail" src="/images/z8.jpg"></a>
              <h5>Poster</h5>
              <p style="margin-bottom:0">11x17" <span class="pull-right more-pricing">$2.00</span></p>
              <p style="margin-bottom:0">16x24" <span class="pull-right more-pricing">$3.50</span></p>
              <p>24x36" <span class="pull-right more-pricing">$6.75</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container text-left" id="about-section">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="about-title"></h3>
          <p class="about-content"></p>
        </div>
        <div class="col-sm-6"><img class="img-thumbnail" src="/images/revo.jpg"></div>
      </div>
    </div>
    <div class="container well text-center" id="contact-section">
      <h4 class="contact-title">Want to get in touch?</h4>
      <p class="contact-time">We'd love to hear from you! We are available: MON-FRI, 9AM - 5PM PST</p>
      <p class="contact-info"><span class="contact-number">Call 800-293-4232</span><span clas="contact-email">support@gearment.com</span></p>
    </div>

  </div>
  <%- partial ('common/footer.ejs') %>
</div>

