<!-- NOT USE -->
<div class="container" id="admin-page">
  <aside class="sidenav">
    <%- partial ('../acp/menu-side.ejs') %>
  </aside>

  <div class="main-content">
    <div class="head-content">
      <a class="menu-button" href="#">
        <div class="menu-arrow aright text-center">
          <i class="fa fa-chevron-right pull-left"></i>
        </div>
      </a>
      <a class="menu-button" href="#">
        <div class="sr-only menu-arrow aleft text-center">
          <i class="fa fa-chevron-left pull-left"></i>
        </div>
      </a>
      <div class="menu-title">
        <h4><span class="name-param">Option</span></h4>
      </div>
    </div>

    <div class="detail-content" id="order-page">
      <ul class="breadcrumb">
        <li><a href="/acp"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Option</li>
      </ul>

      <div class="width1000">


        <table style="background:#fff" class="table table-hover new-order-hook" id="inventory-table">
          <thead>
          <tr>
            <!--<th>ID</th>-->
            <th>Item</th>
            <th>Name</th>
            <th>Type</th>
            <th>Color</th>
            <th>SKU</th>
            <th>Shipping Weight</th>
            <th>Base Price</th>
            <!--<th>Date</th>-->
          </tr>
          </thead>
        </table>
      </div>





    </div>



  </div>
</div>
