<div class="col-sm-12">
  <div class="col-sm-12">
    <h2>User list</h2>
    <table id="user-table" class="display table table-hover " cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Id</th>

        <th>Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th></th>

        <th>Name</th>
        <th>Email</th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
