<!-- Modal choose design-->
<div id="chooseDesignModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Click a Design to select</h4>
        <div class="hidden">
          Bulk upload: <input type="checkbox" name="enable-bulk-upload" data-toggle="toggle">
        </div>
      </div>
      <div class="modal-body user-design">
        <div class="alert alert-info hidden" role="alert">
          <strong>New feature!</strong> Multiple image selection for Bulk Upload is now avaiable.
        </div>

        <div class="xrow">
          <div id="design-gallery">

          </div>

        </div>

        <div class="text-center">
          <ul id="pagination-design-gallery" class="pagination-sm"></ul>
        </div>
      </div>

    </div>

  </div>
</div>
