
<div class="container" id="seller-page">
  <aside class="sidenav">
    <%- partial ('../scp/menu-side.ejs') %>
  </aside>

  <div class="main-content" id="product-page">
    <div class="head-content">
      <a class="menu-button" href="#">
        <div class="menu-arrow aright text-center">
          <i class="fa fa-chevron-right pull-left"></i>
        </div>
      </a>
      <a class="menu-button" href="#">
        <div class="sr-only menu-arrow aleft text-center">
          <i class="fa fa-chevron-left pull-left"></i>
        </div>
      </a>
      <div class="menu-title">
        <h4><span class="home-param"><a href="/scp">Dashboard</a></span></h4>
        <h4><span class="name-param">Products</span></h4>
      </div>
    </div>

    <div class="main-section">
      <div class="col-md-3"><img src="https://d28c8q1a6j07u6.cloudfront.net/assets/blank-slate/campaign-c0f1adf57129726c2efa352fc6c4dd06.svg"></div>
      <div class="col-md-9">
        <h3>Begin to earn money</h3>
        <p>Upload your designs and customize apparel styles. Set your own price, and sell.</p>
        <!--<a href="/scp/product?a=add" type="button" class="btn btn-info">CREATE NEW CAMPAIGN</a>-->
        <a href="/product/design" class="create-new-campaign btn btn-info">CREATE NEW PRODUCT</a>
        <a href="#" type="button" class="btn btn-link">Watch video</a>
      </div>

    </div>


  </div>

</div>


